<main>
  <div class="espacio"></div>
  <div class="filtros">
    <form style="margin-left: 5%;">
      <!--Procesador-->
      <h3>Procesador</h3>
      <span class="filtro">
        <input type="radio" name="CPU"/>Intel
      </span>
      <br>
      <span class="filtro">
        <input type="radio" name="CPU"/>AMD
      </span>

      <!--RAM-->
      <h3>RAM</h3>
      <span class="filtro">
        <input type="radio" name="RAM"/>8 GB
      </span>
      <br>
      <span class="filtro">
        <input type="radio" name="RAM"/>16 GB o mas
      </span>

      <!--Precio-->
      <h3>Precio</h3>
      <span class="filtro">
        <input type="number" name="precio" placeholder="Minimo" class="filtro_precio"/> -
        <input type="number" name="precio" placeholder="Maximo" class="filtro_precio"/>
      </span>
      <button class="boton_filtros">Aplicar filtros</button>
    </form>
  </div>
  <div class="pcs">
    <span class="subtitulo">Computadores de gama media</span>
    <div class="pc">
      <div class="imagen">
        <img src="./assets/PC.jpg" width="90%" height="200px">
      </div>
      <div class="informacion">
        <div class="part1">
          <span class="descripcion">
              <b>Procesador: </b>Intel i3 10100F<br>
              <b>RAM: </b>DDR4 8GB 2600MHZ Crucial Value<br>
              <b>Disco duro: </b>Western Digital Green M2 240 GB<br>
              <b>Motherboard: </b>ASUS H310M<br>
          </span>
        </div>
        <div class="part2">
          <span class="descripcion">
              <b>GPU: </b>NVIDIA MSI GT 710<br>
              <b>Disipador: </b>Aerocool core plus estandar<br>
              <b>Fuente de Poder: </b>XPG 450 W 80 Plus Bronze<br>
              <b>Chasis: </b>Aerocool streak atk<br>
          </span>
        </div>
        <div class="part3">
          <span class="precio">$1.766.000 COP</span>
          <button class="boton">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="pc">
      <div class="imagen">
        <img src="./assets/PC.jpg" width="90%" height="200px">
      </div>
      <div class="informacion">
        <div class="part1">
          <span class="descripcion">
              <b>Procesador: </b>Intel i5 9400F<br>
              <b>RAM: </b>DDR4 8G 3000MHZ XPG Gammix<br>
              <b>Disco duro: </b>Western Digital Green M2 240 GB<br>
              <b>Motherboard: </b>GIGABYTE B3665M<br>
          </span>
        </div>
        <div class="part2">
          <span class="descripcion">
              <b>GPU: </b>NVIDIA MSI GIGABYTE 730<br>
              <b>Disipador: </b>Aerocool core plus estandar<br>
              <b>Fuente de Poder: </b>XPG 450 W 80 Plus Bronze<br>
              <b>Chasis: </b>Aerocool prime ATX<br>
          </span>
        </div>
        <div class="part3">
          <span class="precio">$2.268.000 COP</span>
          <button class="boton">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="pc">
      <div class="imagen">
        <img src="./assets/PC.jpg" width="90%" height="200px">
      </div>
      <div class="informacion">
        <div class="part1">
          <span class="descripcion">
              <b>Procesador: </b>Intel i5 10400<br>
              <b>RAM: </b>DDR4 8GB 3000MHZ XPG Spectrix<br>
              <b>Disco duro: </b>Samsung HDD 2 TB<br>
              <b>Motherboard: </b>Asus Z390<br>
          </span>
        </div>
        <div class="part2">
          <span class="descripcion">
              <b>GPU: </b>NVIDIA MSI GTX 1050 TI<br>
              <b>Disipador: </b>Cooler master liquid 120L Liquida<br>
              <b>Fuente de Poder: </b>Cooler Master 650 W 80 Plus Bronze<br>
              <b>Chasis: </b>Aerocool Rift ATX<br>
          </span>
        </div>
        <div class="part3">
          <span class="precio">$3.461.000 COP</span>
          <button class="boton">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <span class="subtitulo">Computadores de gama alta</span>
    <div class="pc">
      <div class="imagen">
        <img src="./assets/PC.jpg" width="90%" height="200px">
      </div>
      <div class="informacion">
        <div class="part1">
          <span class="descripcion">
              <b>Procesador: </b>i7 10700<br>
              <b>RAM: </b>DDR4 16G 3000MHZ XPG Spectrix D60<br>
              <b>Disco duro: </b>Sandisk Plus SSD 1 TB<br>
              <b>Motherboard: </b>ASUS B460<br>
          </span>
        </div>
        <div class="part2">
          <span class="descripcion">
              <b>GPU: </b>NVIDIA GIGABYTE 1650<br>
              <b>Disipador: </b>Cooler master Liquid 120L Liquida<br>
              <b>Fuente de Poder: </b>XPG 850 W 80 Plus Gold<br>
              <b>Chasis: </b>MSI MPG ATX<br>
          </span>
        </div>
        <div class="part3">
          <span class="precio">$5.127.000 COP</span>
          <button class="boton">Agregar al carrito</button>
        </div>
      </div>
    </div>
    <div class="pc">
      <div class="imagen">
        <img src="./assets/PC.jpg" width="90%" height="200px">
      </div>
      <div class="informacion">
        <div class="part1">
          <span class="descripcion">
              <b>Procesador: </b>i9 10900K<br>
              <b>RAM: </b>DDR4 32G 3200MHZ Kingston Hyper-x<br>
              <b>Disco duro: </b>Western Digital Green SSD 2 TB<br>
              <b>Motherboard: </b>ASUS B460<br>
          </span>
        </div>
        <div class="part2">
          <span class="descripcion">
              <b>GPU: </b>NVIDIA GIGABYTE 1650<br>
              <b>Disipador: </b>MSI MAG CORELIQUID LIQUIDA<br>
              <b>Fuente de Poder: </b>Corsair 750 W 80 Plus Gold<br>
              <b>Chasis: </b>Azza Apolo ATX<br>
          </span>
        </div>
        <div class="part3">
          <span class="precio">$6.999.000 COP</span>
          <button class="boton">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</main>
