<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.NOMBRE}}
  </li>
</ul>
<mat-card class="pcdrome-float-card">
  <mat-horizontal-stepper class="pcdrome-internal-step">
    <mat-step *ngFor="let label of labels" label="{{label}}">
        <div class="pcdrome-filtro">

        </div>
        <div>
          <mat-card class="product-mat-card" *ngFor="let item of itemsReturn(label) | async">
            <mat-card-title>{{item.NOMBRE}}</mat-card-title>
          </mat-card>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>-->
