.recomendacion{
    text-decoration: none;
    display: block;
    background-color: rgba(78, 18, 97, 0.9);
    color: #fff;
    font-size: 22px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    text-align: center;
}

.recomendacion:hover{
    background-color: rgb(78, 18, 97);
}

.botonRecomendacion{
    display: block;

    text-align: center;
}