<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form onsubmit="event.preventDefault()" class="box">
            <h2>Ingresar</h2>
            <label>Correo</label>
            <input id="textCorreo" type="text" #email>
            <label>Contraseña</label>
            <input id="textPassword" type="password" #password>
            <input id="btnIngresar" (click)="ingresar(email.value, password.value)" type="submit" value="Iniciar Sesion">
            <a id="btnRegister" class="link" routerLink="registrarse">¿No tienes cuenta? Regístrate aquí.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
