#sup-footer-bar{
  padding-left: 32%;
  background-color: #502f4c;
  color: white;
  padding-top: 8px;
  margin-top: 20px;
}
#sup-footer-bar li{
  display:inline;
  padding-left:3px;
  padding-right:3px;
  font-style: normal;
}
#sup-footer-bar span, h2{
  display: inline;
}
#sup-header-menu{
  display: inline;
}
