#sup-footer-bar{
  background-color: #502f4c;
  color: white;
}
#sup-footer-bar li{
  display:inline;
  padding-left:3px;
  padding-right:3px;
  font-family: Roboto;
  font-style: normal;
}
#sup-footer-bar span, h2{
  display: inline;
}
#sup-header-menu{
  display: inline;
}
