
<div id="sup-footer-bar" class="sup-footer-visible sup-footer-hide">
  <span class="col-md-2"><img src="assets/iconos/telefono-col-icon.svg" alt="Icono de telefono colombia.">+57 322-323-6159</span>
  <ul id="sup-header-menu" class="col-md-8">
    <li><a mat-button>Política de privacidad</a></li>
    <li><h2>PCDROME SHOP ®</h2></li>
    <li><a mat-button routerLink="">Ayuda</a></li>
    <li><a mat-button routerLink="">Rastrea tu orden</a></li>
    <li><a mat-button routerLink="">Soporte y Garantía</a></li>
  </ul>
</div>
=======
<footer>
    <span>Este es el footer</span>
</footer>

