<main>
  <div class="container">
    <div class="card box">
      <form onsubmit="event.preventDefault()">
        <h1>Registrarse</h1>
        <label>Nombre</label>
        <input type="text" name="">
        <label>Correo</label>
        <input type="text" name="">
        <label>Contraseña</label>
        <input type="text" name="">
        <label>Repetir contraseña</label>
        <input type="text" name="">
        <label>Teléfono</label>
        <input type="text" name="">
        <input type="submit" name="" value="Registrarse" href="#">
        <a class="link" routerLink="/Ingresar">¿Ya tienes cuenta? Ingresa aquí.</a>
      </form>
    </div>
  </div>
</main>
