.card {
    display: block;
    align-items: center;
    border-style: bold;
    border-color: purple;
    background: white;
    text-align: center
}

.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    margin-top: 0px;
    text-align: center;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: 2px solid #502f4c;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #502f4c;
    transition: 0.25s
}

.box h1, h3 {
    color: #502f4c;
    font-weight: bold;
}

.box label {
    display: block;
    margin: 0px auto;
    text-align: left;
    color: #502f4c;
    font-weight: bold;
    padding: 10px 10px;
    padding-bottom: 0px;
    width: 250px;
    outline: none;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #502f4c
}

a.link:hover {
    text-decoration: underline
}

.box input[type="text"]:focus {
    width: 280px;
    border-color: rgba(112,88,124,1.0)
}

.box input[type="submit"] {
    border: 0;
    background: #502f4c;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #502f4c;
    padding: 14px 40px;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: rgba(112,88,124,1.0)
}