<header>
  <div class="cabezera">
    <a routerLink="/" class="titulo">PC-DROME</a>
    <div class="buscador_home">
      <form>
        <input type="search" class="buscador" #buscador/>
        <button class="boton_buscar" (click)="tomarDato(buscador.value)">Buscar</button>
      </form>
    </div>
    <div *ngIf="mostrarI" class="sign_in" style="padding-left: 30px">
      <a routerLink="Ingresar" class="ingresar">Ingresar</a>
    </div>
    <div *ngIf="mostrarP" class="sign_in">
      <a routerLink="Perfil" class="ingresar">Perfil</a>
    </div>
    <div *ngIf="mostrarL" class="sign_in">
      <a (click)="logOut()" routerLink="/" class="ingresar">Log Out</a>
    </div>
    <div class="carrito">
      <a routerLink="Carrito" class="ingresar">Carrito</a>
    </div>
  </div>

  <div class="menu_home">
    <a routerLink="ArmarPC" class="menu" id="opcion1">Ensambla tu PC</a>
    <span style="color: #502f4c; font-size: 25px; font-weight: bold; float: left;">|</span>
    <a [routerLink]="['/productos','MOTHERBOARD']" class="menu">Motherboards</a>
    <a [routerLink]="['/productos','CPU']" class="menu">Procesadores</a>
    <a [routerLink]="['/productos','RAM']" class="menu">Memorias</a>
    <a [routerLink]="['/productos','DISCODURO']" class="menu">Discos Duros</a>
    <a [routerLink]="['/productos','GPU']" class="menu">Tarjetas Graficas</a>
    <a [routerLink]="['/productos','DISIPADOR']" class="menu">Disipadores</a>
    <a [routerLink]="['/productos','CHASIS']" class="menu">Chasis</a>
  </div>

</header>


