
<div id="sup-header-bar" class="sup-header-visible sup-header-hide">
  <h1 class="col-md-4">PC-Drome Tienda de partes y computadoras pesonalizadas</h1>
  <span class="col-md-2"><img src="assets/iconos/telefono-col-icon.svg" alt="Icono de telefono colombia.">+57 322-323-6159</span>
  <ul id="sup-header-menu" class="col-md-4">
    <li><a mat-button>Ayuda</a></li>
    <li><a mat-button routerLink="">Rastrea tu orden</a></li>
    <li><a mat-button routerLink="">Soporte y Garantía</a></li>
    <li><a mat-button >Español</a></li>
  </ul>
</div>
<mat-divider></mat-divider>
<div id="search-header-bar">
  <h2 class="col-md-2">PC-DROME</h2>
  <form class="search-form" >
    <mat-form-field class="general-search" class="col-md-6">
      <mat-label>Busqueda</mat-label>
      <input matInput placeholder="Ejemplo. Motherboard">
    </mat-form-field>
  </form>
  <ul id="sup-search-menu" class="col-md-3">
    <li><a mat-button><img src="assets/iconos/carrito-icon.svg" alt="Icono de carrito."></a></li>
    <li><a mat-button routerLink=""><img src="assets/iconos/persona-icon.svg" alt="Icono de persona.">Mi perfil</a></li>
  </ul>
</div>
<div id="main-menu-bar">
  <ul id="sup-main-menu" class="col-md-10">
    <li><a mat-button>Arma tu pc</a></li>
    <li><span>Tienda →</span></li>
    <li><a mat-button routerLink="">Motherboard</a></li>
    <li><a mat-button routerLink="">Memorias</a></li>
    <li><a mat-button routerLink="">Tarjetas Graficas</a></li>
    <li><a mat-button routerLink="">Procesadores</a></li>
    <li><a mat-button routerLink="">Accesorios</a></li>
  </ul>
</div>
