/*Barra superior*/
#sup-header-bar{
  width: 100%;
  background-color: #502F4C;
  color: white;
}
#sup-header-bar h1{
  font-size: 12px;
  padding-left: 12px;
}
#sup-header-bar h1, img, span, #sup-header-menu{
  display: inline;
  padding-right: 30px;
}
#sup-header-bar #sup-header-menu{
  padding-left: 100px;
}
#sup-header-menu li {
  display:inline;
  padding-left:3px;
  padding-right:3px;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
}
/*Divider*/
mat-divider{
  background-color: white;
}
/*Barra de busqueda*/
#search-header-bar{
  background-color: #502f4c;
  color: white;
}
#sup-header-menu h2, img, span, mat-form-field, #sup-search-menu, #sup-search-menu li{
  display:inline;
  padding-left:3px;
  padding-right:3px;
  font-family: Roboto;
  font-style: normal;
}
#sup-search-menu h2{
  size: 20px;
  color: white;
}
/*Main menu*/
#sup-main-menu li{
  display:inline;
  padding-left:3px;
  padding-right:3px;
  font-family: Roboto;
  font-style: normal;
}
